# Server Configuration
PORT=5000
SMTP_PORT=2525
DOMAIN=sampark.in
JWT_SECRET=sampark_hackathon_super_secret_key_2026

# Twilio Configuration (Optional - Defaults to built-in Live Simulator if left blank)
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
